<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/wiktionary?useSSL=false</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.verifyServerCertificate">false</property>
        <property name="hibernate.connection.requireSSL">false</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.c3p0.timeout">1000</property>
        <mapping class="de.ude.is.entities.WordEntity"/>
        <mapping class="de.ude.is.entities.LemmaEntity"/>
    </session-factory>
</hibernate-configuration>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

        <!--<hibernate-configuration>-->
        <!--<session-factory>-->
        <!--<property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>-->
        <!--<property name="hibernate.connection.url">jdbc:sqlite:data.db</property>-->
        <!--<property name="dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>-->
        <!--<property name="hibernate.show_sql">true</property>-->
        <!--<property name="hibernate.use_sql_comments">true</property>-->
        <!--<property name="hibernate.format_sql">true</property>-->
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <!--<mapping class="de.ude.is.entities.WordEntity"/>-->

        <!--</session-factory>-->
        <!--</hibernate-configuration>-->
